<body style="margin-bottom: 250px;">

    <!-- Sidebar -->
    <div class="sidebar">

        <ul class="side-menu" style="cursor: pointer;">
            <li><a routerLink="/dashboard"><i class='bx bxs-dashboard'></i>All Orders</a></li>
            <li><a routerLink="/ordersAccepted"><i class='bx bx-store-alt'></i>Orders Accepter</a></li>
            <li><a routerLink="/ordersRefused"><i class='bx bx-analyse'></i>Orders Refuser</a></li>
            <li class="active"><a routerLink="/orders"><i class='bx bx-message-square-dots'></i>Orders En Attente</a>
            </li>

        </ul>

    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">

        <!-- End of Navbar -->

        <main>
            <div class="header">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                Ordres
                            </a></li>
                        /
                        <li><a href="#" class="active">EnAttente</a></li>
                    </ul>
                </div>

            </div>


            <!-- End of Insights -->

            <div class="bottom-data">
                <div class="orders">



                </div>


            </div>

        </main>

    </div>




</body>