<body style="margin-bottom: 330px;">

    <!-- Sidebar -->
    <div class="sidebar">

        <ul class="side-menu" style="cursor: pointer;">
            <li class="active"><a routerLink="/dashboard"><i class='bx bxs-dashboard'></i>All Orders</a></li>
            <li><a routerLink="/ordersAccepted"><i class='bx bx-store-alt'></i>Orders Accepter</a></li>
            <li><a routerLink="/ordersRefused"><i class='bx bx-analyse'></i>Orders Refuser</a></li>
            <li><a routerLink="/orders"><i class='bx bx-message-square-dots'></i>Orders En Attente</a></li>

        </ul>

    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">

        <!-- End of Navbar -->

        <main>
            <div class="header">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                Ordres
                            </a></li>
                        /
                        <li><a href="#" class="active">All</a></li>
                    </ul>
                </div>

            </div>

            <!-- Insights -->
            <ul class="insights">
                <li style="background-color: rgba(0, 187, 255, 0.828);">
                    <img src="../../../assets/images/deadline_1378330.png" alt="">
                    <span class="info">
                        <h3>{{ orderInHold }}</h3>
                        <p>Orders En Attente</p>
                    </span>
                </li>
                <li style="background-color: rgba(255, 90, 30, 0.797);">
                    <img src="../../../assets/images/accept.png" alt="">
                    <span class="info">
                        <h3>{{ orderAc }}</h3>
                        <p>Orders Accepted</p>
                    </span>
                </li>
                <li style="background-color: rgba(0, 255, 94, 0.825);">
                    <img src="../../../assets/images/refue.png" alt="">
                    <span class="info">
                        <h3>{{ orderRe }}</h3>
                        <p>Orders Refused</p>
                    </span>
                </li>
            </ul>
            <!-- End of Insights -->





        </main>



    </div>






</body>