.widget-categories ul>li>a,
.widget-links ul>li>a {
  display: inline-block;
  -webkit-transition: color .3s;
  transition: color .3s;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

a:hover,
a:focus,
a button:hover,
button:hover,
button:focus,
button button:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
  color: #fb5c42;
}